* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    height: 7em;
    display: flex;
}

img {
    height: 4em;
    width: 5em;
    margin-left: 1em;
}

.nav-logo {
    display: inline-block;
    margin-top: 2em;
}

.nav-menu {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: start;
    top: 0px;
    left: 0;
    gap: 5em;
    background-size: cover;
    color: white;
    padding: 5px;
    margin-left: 1em;
    width: 40em;
    height: 5em;
    box-shadow: 0px 2px 4px 0 #757373;
}

.nav-item {
    display: flex;
    list-style: none;
    margin-left: 1em;
}

.nav-item li {
    margin-right: 20px;
    text-decoration: none;
}

.nav-item li:last-child {
    margin-right: 0;
}
.nav-item li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}
.nav-item li a:hover {
    color: #ffd700;
}

.rightNav {
    text-align: right;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.search-form {
    display: flex;
    align-items: center;
    margin-left: 15em;
}

.search-input {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 20em;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    transition: width 0.3s ease-in-out;
}

.search-input:focus {
    outline: none;
    width: 250px;
}

.search-input::placeholder {
    color: #888;
}
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropbtn {
    background-color: white;
    color: #333;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    margin-top: 2px;
    transition: transform 0.3s ease;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    white-space: nowrap;
    max-height: 150px;
    overflow-y: auto;
    padding: 5px 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}